* {
    margin: 0;
    padding: 0;
}

a {
    display: block;
}

li {
    list-style: none;
}

h1,h2,h3,.btn,table,a {
    text-align: center;
    margin: 10px auto;
}

.err {
    color: red;
}

header {
    width: 100%;
}

.logo-text {
    float: left;
}

.nav-right {
    float: right;
}

.header-right {
    float: right;
    margin-right: 20px;
}

.header {
    width: 100%;
    background-color: blue;
}

.header li {
    float: left;
    
}

.br {
    clear: both;
}

.nav-btn {
    width: 30%;
    padding: 5px 0;
    float: left;
}

.client-list form table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

.client-list form table td {
    border: solid 1px black;
    width: 300px;
}